<div class="user-follow user-follow-<%= user.id %>">
  <%
    if current_user.following?(user)
    relationship = Relationship.find_by(user_id: current_user.id, follow_id: user)
  %>
    <%= link_to user_relationship_path(user, relationship), method: :delete, class:'user-follow__cancel', remote: true do %>
      <i class="fas fa-user-plus"></i>
    <% end %>
  <% else %>
    <%= link_to user_relationships_path(user), method: :post, class:'user-follow__enable', remote: true do %>
      <i class="fas fa-user-plus"></i>
      <span class="user-follow__name is_show">フォローする</span>
    <% end %>
  <% end %>
</div>
