<% unless current_user == user %>
  <div class="user-follow">
    <% if current_user.following?(user) %>
      <%= link_to 'フォロー中', user_relationship_path(user.id), method: :delete, class:'user-follow__cancel' %>
    <% else %>
      <%= link_to 'フォロー', user_relationships_path(user.id), method: :post, class:'user-follow__enable' %>
    <% end %>
  </div>
<% end %>