<div class="post-like post-like-<%= post.id %>">
  <%
    if current_user.already_liked?(post)
    like = Like.find_by(post_id: post.id, user_id: current_user.id)
  %>
    <%= link_to post_like_path(post, like), method: :delete, class:'post-like__action post-like__delete', remote: true do %>
      <i class="fas fa-thumbs-up"></i> いいね
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post), method: :post, class:'post-like__action post-like__create', remote: true do %>
      <i class="fas fa-thumbs-up"></i> いいね
    <% end %>
  <% end %>
</div>
