<div class="container">
  <h2 class="title-primary">Meal Share とは</h2>
  <div class="row align-items-center">
    <div class="col-12 col-md-6"><%= image_tag 'top-about.jpg' %></div>
    <div class="col-12 col-md-6">
      <p class="fs-md-1-2e">Meal Shareとは、食べ物をシェアするウェブサイトです。<br>みんなで美味しい食べ物をシェアしよう！</p>
    </div>
  </div>
</div>
<div class="container mb-5">
  <h2 class="title-primary">Meal Share</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
    <% @posts.each do |post| %>
      <%= render 'posts/card', post:post %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to '記事一覧はこちら', posts_path(), class:'btn btn-primary btn-lg' %>
  </div>
</div>