<div class="container">
  <h1 class="title-primary">新規投稿</h1>

  <%= render 'form', post: @post %>
  <div class="row">
    <div class="col-12 col-lg-10">
      <div class="mt-5 mb-5 text-center">
        <%= link_to '一覧へ戻る', posts_path, class:'btn btn-secondary text-white' %>
      </div>
    </div>
  <div>
</div>