<% if user_signed_in? %>
  <%= render partial: 'layouts/sidebar-left' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 mr-auto  ml-auto">

      <%= render partial: 'posts/show-post', locals: { post: @post, comments: @comments, comment_new: @comment_new } %>

    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render partial: 'layouts/sidebar-right' %>
<% end %>
