/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./variables";

/*related init
------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  background: #fff;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 1.5px;
  font-feature-settings: "palt" 1;
  font-kerning: auto;
  margin: 0;
  color: #333;
}

a {
  color: #666;

  &:hover {
    background-color: transparent;
    color: #666;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/*header
------------------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  font-size: 1.4em;

  a {
    text-decoration: none;
    color: black;
  }

  .header__logo {
    font-weight: 700;
    margin-right: auto;
    padding: 0.25em;
  }

  .header__icon {
    text-align: center;
    width: 58px;
    padding: 0.25em;
    position: relative;
    i {
      display: block;
    }

    span {
      display: block;
      font-size: 9px;
      letter-spacing: 0;
    }
  }

  .header__notifications-new {
    width: 15px;
    height: 15px;
    background-color: orangered;
    border-radius: 50%;
    position: absolute;
    top: 0.1em;
    left: 0.5em;
  }
}

/*footer
------------------------------------------------------*/
.footer {
  padding: 0.5em;

  .footer-logo {
    text-align: center;
    font-weight: 700;
    font-size: 1.4em;

    a {
      color: white;
      text-decoration: none;
    }
  }

  .footer-copyright {
    font-size: 0.7em;
    text-align: center;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.alert-position {
  margin: auto;
  position: absolute;
  top: 55px;
  right: 0;
  left: 0;
}

.container__break {
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

/*card
------------------------------------------------------*/
.card-img-top {
  height: 250px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.card-cats {
  font-size: 0.8em;
}

.card-cats,
.card-title {
  height: 1.8em;
  overflow: hidden;
}

/*simple
------------------------------------------------------*/
.simple {
  display: flex;
  text-decoration: none;
  color: black !important;
  transition: background-color 0.3s linear;

  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    background-color: #eee;
  }

  > div {
    padding: 0.5em;
  }

  .simple__left {
    width: 30%;
    position: relative;
  }

  .simple__right {
    width: 70%;
  }

  .simple__thumb {
    img {
      width: 100%;
      height: 55px;
      object-fit: cover;

      @include mq("md") {
        height: 142px;
      }

      @include mq("lg") {
        height: 80px;
      }
    }
  }

  .simple__rank-num {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 28px;
    text-align: center;

    &.simple__rank-num-1 {
      background-color: #f5d100;
    }
    &.simple__rank-num-2 {
      background-color: #bdc3c9;
    }
    &.simple__rank-num-3 {
      background-color: #9f7a46;
    }
  }

  .simple__title {
    font-size: 0.9em;
    height: 3.6em;
    overflow: hidden;
  }

  .simple__like-num {
    font-size: 0.8em;
    color: #666;
  }
}

/*pagenation
------------------------------------------------------*/
.page-item.active .page-link {
  color: black;
  background-color: theme-color("primary");
  border-color: theme-color("primary");
}

/*title
------------------------------------------------------*/
.title-primary:not(.title-reset) {
  font-size: 1.4em;
  font-weight: 700;
  margin: 1em 0;

  @include mq("md") {
    font-size: 2.2em;
  }
}

.title-secondary:not(.title-reset) {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px #333 solid;
  margin: 1em 0;

  @include mq("md") {
    font-size: 1.8em;
  }
}

/*font-size
------------------------------------------------------*/
@each $key, $breakpoint in $breakpoints {
  @for $i from 0 through 9 {
    @if $key == "xs" {
      .fs-0-#{$i}e {
        font-size: #{$i/10}em;
      }

      .fs-1-#{$i}e {
        font-size: #{1 + $i/10}em;
      }

      .fs-2-#{$i}e {
        font-size: #{2 + $i/10}em;
      }
    } @else {
      @include mq($key) {
        .fs-#{$key}-0-#{$i}e {
          font-size: #{$i/10}em;
        }

        .fs-#{$key}-1-#{$i}e {
          font-size: #{1 + $i/10}em;
        }

        .fs-#{$key}-2-#{$i}e {
          font-size: #{2 + $i/10}em;
        }
      }
    }
  }
}

/*button
------------------------------------------------------*/
.btn-primary {
  background-color: theme-color("primary");
  color: black !important;
  border: 1px solid theme-color("primary");

  &:hover {
    background-color: rgba(theme-color("primary"), 0.7);
    border: 1px solid theme-color("primary");
  }
}

/*table-form
------------------------------------------------------*/
.table-form {
  .table-form__field-name {
    position: relative;
    padding-left: 3.5em;

    &::before {
      content: "任意";
      background-color: #6590fc;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      padding: 0 0.5em;
      font-size: 0.9em;
    }
  }

  .require {
    &::before {
      content: "必須";
      background-color: #fc9db8;
    }
  }
}

/*form-image-uploader
------------------------------------------------------*/
.form-image-uploader {
  @at-root {
    #{&}__flex {
      display: flex;
      align-items: center;
      width: 100%;
    }

    #{&}__col-preview {
      width: 50px;
    }

    #{&}__col-input {
      width: calc(100% - 50px);
      padding: 1em;
    }

    #{&}__saved-img {
      margin-bottom: 1em;

      @at-root {
        #{&}-inner {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          display: inline-block;
        }
      }

      img {
        max-height: 300px;
      }
    }

    #{&}__preview {
      display: inline-block;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      position: relative;
      cursor: pointer;

      img {
        max-width: 50px;
        width: auto;
        max-height: 50px;
        height: 100%;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    #{&}__cancel {
      font-size: inherit;
    }

    @include mq("md") {
      #{&}__col-preview {
        width: 100px;
      }

      #{&}__col-input {
        width: calc(100% - 100px);
      }

      #{&}__preview {
        img {
          max-width: 100px;
          max-height: 100px;
        }
      }
    }
  }
}

/*block-toggle
------------------------------------------------------*/
.block-toggle {
  @at-root {
    #{&}__press {
      cursor: pointer;
      margin-bottom: 0.5em;
    }

    #{&}__content {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.5em;
    }
  }
}

/*btn
------------------------------------------------------*/
.btn-twitter {
  color: #fff !important;
  background-color: rgba(#55acee, 1);
  border-color: rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgba(#55acee, 0.7) !important;
  }
}

/*li-asterisk
------------------------------------------------------*/
.li-asterisk {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style: none;
    padding-left: 1.4em;
    position: relative;

    &::before {
      content: "※";
      position: absolute;
      top: 0;
      left: 3px;
      line-height: 1.1;
    }
  }
}
