// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables";

.block-notifications{
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px dotted #999;

  a{
    text-decoration: none;
    color: #333 !important;

    &:hover{
      text-decoration: underline;
    }
  }

  .block-notifications__date{
    color: #666;
    font-size: .9em;
    text-align: right;
  }
}