// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "./variables";


.post-cats{
  display: flex;
  flex-wrap: wrap;

  .post-cats__name{
    display: flex;
    align-items: center;
    background-color: #eee;
    color: #666;
    padding: 4px 8px;
    border-radius: 4px;
    margin-bottom: 4px;
    font-size: .8em;
  }
}

.scroll{
  position: relative;
  height: 250px;
  margin-top: .5rem;
  overflow: auto;
  border: 1px solid #999;
  padding: 1rem;
  margin-top: 1rem;
}