$theme-colors: (
  "primary": #f6b352,
  "secondary": #fc913a,
  "tertiary": #f68655,
  "quaternary": #4c4c4c,
);

/*正三角形
------------------------------------------------------*/
@mixin trianglearrow($direction: right, $size: 12, $color: gray) {
  $set: left;

  @if $direction == left {
    $set: right;
  } @else if $direction == top {
    $set: bottom;
  } @else if $direction == bottom {
    $set: top;
  } @else {
    $set: left;
  }
  $size: round($size / 2);

  width: 0;
  height: 0;
  border: $size + px solid transparent;
  border-#{$set}-color: $color;
}
