<div class="container">
  <div class="row">
    <div class="ccol-12 col-lg-6 m-lg-auto pb-5">
      <h1 class="title-primary">カテゴリを作成する</h1>
      <%= render 'msg' %>
      <%= render 'form', cat: @cat %>
      <div class="mt-3">
        <%= link_to '一覧へ戻る', cats_path, class:'btn btn-secondary text-white w-100' %>
      </div>
    </div>
  </div>
</div>