<%
unless image.blank?
  image_path = get_uploaded_image(image, version)
  image_obj = MiniMagick::Image.open(Rails.env == "production"? image.url.to_s : "#{Rails.root.to_s}/public#{image}")
  class_name = image_obj.width >= image_obj.height ? "img-square__width":"img-square__height"
  img_width = image_obj.width
  img_height = image_obj.height
else
  image_path = "nophoto.jpg"
  class_name = "img-square__width"
  img_width = 600
  img_height = 600
end
%>
<div class="img-square"><%= image_tag image_path, class: class_name, width: img_width, height: img_height %></div>
