<%
unless image.blank?
  logger.debug(image)
  image = get_uploaded_image(image, version)
  logger.debug(image)
  image_url = Rails.env == "production"? image : "#{Rails.root.to_s}/public#{image}"
  logger.debug(image_url)
  image_obj = MiniMagick::Image.open(image_url)
  class_name = image_obj.width >= image_obj.height ? "img-square__width":"img-square__height"
  img_width = image_obj.width
  img_height = image_obj.height
else
  image = "nophoto.jpg"
  class_name = "img-square__width"
  img_width = 600
  img_height = 600
end
%>
<div class="img-square"><%= image_tag image, class: class_name, width: img_width, height: img_height %></div>
